name: Build and Push Inference Image (DEBUG)

on:
  push:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/mlops-inference:latest ./inference

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/mlops-inference:latest
